
@model Employee

<h2>@Model.LastName, @Model.FirstName</h2>

<div>
    Employee Id: @Model.EmpID
</div>
<div>
    Email: @Model.EmailAlias@@CompanyEmail.com
</div>
<div>
    Office: @Model.Office
</div>
<div>
    Region: @Model.Region
</div>