
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Employees</h1>

<form asp-action="List" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" name="name" value=@ViewBag.SearchString />
            <span>
                <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach (var employee in Model)
{
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@employee.LastName, @employee.FirstName</h3>
            <span>Office: @employee.Office</span>
            <span>Region: @employee.Region</span>
        </div>
        <div class="card-footer">
            <a class="btn btn-lg"
               asp-controller="Employee"
               asp-action="Details"
               asp-route-id="@employee.EmpID">
                <i class="fa fa-search-plus"></i>
            </a>
            <a class="btn btn-lg"
               asp-controller="Employee"
               asp-action="Edit"
               asp-route-id="@employee.EmpID">
                <i class="fa fa-edit"></i>
            </a>
            @*<a class="btn btn-lg"
               asp-page="./Delete"
               asp-route-restaurantId="@Model.Id">
                <i class="fa fa-trash"></i>
            </a>*@
        </div>

    </div>
}