
@model IEnumerable<Assignment>
@{ 
    ViewData["Title"] = "Assignments";
}

<h1>Assignments</h1>

@foreach (var assignment in Model)
{
    <div class="card">
        <div class="card-body">
            <p>Client Id: @assignment.ClientId</p>
            <p>Employee Id: @assignment.EmployeeId</p>
            <p>Role: @assignment.Role</p>
            <p>Start Date: @assignment.StartDate</p>
            <p>End Date: @assignment.EndDate</p>
        </div>
    </div>
}