
@model IEnumerable<Assignment>
@{ 
    ViewData["Title"] = "Assignments";
}

<h1>Assignments</h1>

@foreach (var assignment in Model)
{
    <div class="card">
        <div class="card-body">
            <p>Client Id: @assignment.ClientId</p>
            <p>Client: @assignment.Client.ClientName</p>
            <p>Employee Id: @assignment.EmployeeId</p>
            <p>Employee: @assignment.Employee.GetFullName()</p>
            <p>Role: @assignment.Role</p>
            <p>Start Date: @assignment.StartDate</p>
            <p>End Date: @assignment.EndDate</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-lg"
               asp-controller="Assignment"
               asp-action="Details"
               asp-route-id="@assignment.AssignmentId">
                <i class="fa fa-search-plus"></i>
            </a>
            <a class="btn btn-lg"
               asp-controller="Assignment"
               asp-action="Edit"
               asp-route-id="@assignment.AssignmentId">
                <i class="fa fa-edit"></i>
            </a>
        </div>
    </div>
}