
@model IEnumerable<Client>
@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>

<form asp-action="List" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" name="name" value=@ViewBag.SearchString />
            <span>
                <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

<a asp-controller="Client" asp-action="Edit" class="btn btn-primary">Add New Client</a>

@foreach (var client in Model)
{
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@client.ClientName</h3>
        </div>
        <div class="card-footer">
            <a class="btn btn-lg"
               asp-controller="Client"
               asp-action="Details"
               asp-route-id="@client.ClientId">
                <i class="fa fa-search-plus"></i>
            </a>
            <a class="btn btn-lg"
           asp-controller="Client"
           asp-action="Edit"
           asp-route-id="@client.ClientId">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-lg"
           asp-controller="Client"
           asp-action="Delete"
           asp-route-id="@client.ClientId">
            <i class="fa fa-trash"></i>
        </a>
        </div>

    </div>
}

<a asp-controller="Client" asp-action="Edit" class="btn btn-primary">Add New Client</a>